/* This file contains css for the mobile version */

body{
	max-width:100%;
	max-height: 100%;
/* 	background-color: blue; */
}

/* Styles for header go here */

header{
	max-width:100%;
}

#headerImage{
	width:100%;
	max-height:40%;
	margin-bottom: 2.5%;
}

/* Header Styles finish here */



/* Style for the content part go here */


#content{
	max-width:100%;
}


#alignCenter{
	text-align:center;
	margin:10px 0px;
}

table{
	width: 100%;
}

td{
	position:relative;
}

.individualTable{
	max-width: 80%;
	margin: 5% 10% 5% 10%; /* margin takes margin in clockwise direction starting from top -> right ... */
	opacity: 0.5;
	position:relative;
	z-index: 1;
}

p#overImage{
	position: relative;
	top: -160px;
	align:center;
	font-weight: bold;
/* 	z-index: 2; */
}
/* Style for the content finish here */




/* Styles for the footer go here */

footer{
	background-color:#39c1d8;
}